body{

    margin:0;
    padding:0;
    text-align: center;
}
a{
  text-decoration: none;
}
/* Header */

header {
    border-bottom: 2px solid #eee;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
  /*  text-align: center;*/

} 
  header a {
    text-decoration: none;
    color: #333;
  }
  
  header .hide {
    background-color: rgba(240, 237, 48, 0.884);
    position: fixed;
    top: -300px;
    right: 0;
    width: 180px;
    height: 300px;
    z-index: 5;
    border-radius: 100px 100px 100px 100px;
    text-align: center;
}

header .hide div {
    position: relative;
    top: 50px;
    font-size: 1.2em;
    line-height: 50px;
}

header .hide a {
    text-decoration: none;
    color: rgb(26, 9, 9);
}

header .hide a:hover {
    color: rgb(202, 0, 0);
}

/********************************************************/
nav {
    
    position: fixed;
    top: 10px;
    height: 75px;
    position: relative;
    width: 100%;
   /* background-color:rgba(223, 151, 43, 0.4);*/
}

nav a {
    top: 20px; 
    position: relative;
    text-decoration: none;
    padding-left: 50px;
    font-size: 2em;
    color: rgb(0, 0, 0);
   
}
nav a:hover {
    transform: translate(50px);
    transition-timing-function: ease-out;
    color: #189197;
}



.id_ocultar{
    visibility: hidden;
    opacity: 0;
    display:none;
}

  /****************************************************************/
 
  /*Section*/
section{
position: relative;
    top: 120px;
}
/* Input Forms*/
.usuario, .contra{
    outline: none;
    padding: 20px;
    display: block; /*se muestre uno debajo del otro*/
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
 .btnaceptLo {
    padding: 10px;
    color: #fff;
    background: rgb(3, 113, 163);

    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  .btnaceptLo:hover {
    background-color: rgb(7, 142, 204);;
  }

  /*Formulario de usuariosPrin*/

  .contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    overflow: hidden;

}

h2{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #555;
}

.barra__buscador{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    width: 100%;
    overflow: hidden;
}

form .input__text{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #848688;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 15px;
    max-width: 30%;
    margin-right: 10px;
    outline: medium none;
}


form .input__text:focus{
    border: 1px solid #1b743c;
}
form .form-group{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

form .form-group .input__text{
    max-width: 45% !important;
}


form .btn_buscar{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    background: rgb(3, 113, 163);
    margin-bottom: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    outline: medium none;
    cursor: pointer;
}
form .btn_nuevo{
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #fff;
  display: block;
  font-size: 14px;
  background: #1b743c;
  margin-bottom: 15px;
  padding: 10px 20px;
  margin-right: 10px;
  outline: medium none;
  cursor: pointer;
}
.btn__nuevo{
    float: right;
    background: #1b743c !important;
}

.btn__group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*.btn__primary{
    background: rgb(3, 113, 163);
}
.btn__danger{
    background: #8a0505 !important;
    
}
*/


form .btn__primary{
    background: rgb(3, 113, 163);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 20px;
    margin-right: 800px;
    outline: medium none;
    cursor: pointer;
}
form .btn__danger{
    background: #8a0505;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
  
    margin-bottom: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    outline: medium none;
    cursor: pointer;
}



/* table */
table{
    width: 100%;
    border-collapse: collapse;
}

table .head{
    background: rgb(3, 113, 163);
}
table .head td{
    color: #fff;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

table tr td{
    border:1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    color: #555;
}

.btn__update{
    display: inline-block;
    font-size: 14px;
    background: #1b743c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn__delete{
    display: inline-block;
    font-size: 14px;
    background: #8a0505;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}


  @media (max-width:480px){

  /*Section*/
  section{
    position: relative;
        top:0px;
    }

    /*Inputs*/
    input[type="text"], input[type="password"]{
        outline: none;
        padding: 10px;
        display: block; /*se muestre uno debajo del otro*/
        width: 220px;
        border-radius: 3px;
        border: 1px solid #eee;
        margin: 20px 0px 20px 20px;
      }

      
      input[type="submit"] {
        padding: 10px;
        color: #fff;
        background: #6e3e00d5;
        width: 320px;
        margin: 20px auto;
        margin-top: 0;
        border: 0;
        border-radius: 3px;
        cursor: pointer;
      }

  }
